<div class="slider-container">
    <app-game-card imageUrl="/assets/images/games/4-en-linea.png" name="4 en Linea" [price]="0" href="/4-en-linea"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/mario.jpg" name="Super Mario" [price]="0.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/zelda.jpg" name="Zelda BotW" [price]="9.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/batman.jpg" name="Batman Lego" [price]="0"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/mario2.jpg" name="Mario Galaxy" [price]="3.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/pokemon.jpg" name="Pokemon" [price]="0"></app-game-card>
</div>
