<div class="slider-container">
    <app-game-card imageUrl="/assets/images/games/2k11.jpg" name="NBA 2k11" [price]="30.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/fifa23.jpg" name="FIFA 23" [price]="12.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/2k18.jpg" name="NBA 2k18" [price]="0"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/fc24.jpg" name="FC 24" [price]="19.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/fifa19.jpg" name="FIFA 19" [price]="0"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/pes.jpg" name="PES 2019" [price]="0"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/ufc.jpg" name="UFC EA" [price]="3.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/2k21.jpg" name="NBA 2k21" [price]="5.99"></app-game-card>
</div>