<div class="slider-container">
    <app-game-card imageUrl="/assets/images/games/f1.jpg" name="F1" [price]="3.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/forza-horizon.jpg" name="Forza Horizon" [price]="14.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/f1-2017.jpg" name="F1 2017" [price]="0"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/dirt5.jpg" name="Dirt 5" [price]="9.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/needforspeed.jpg" name="Need 4 Speed" [price]="0"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/forza.jpg" name="Forza" [price]="3.99"></app-game-card>
</div>