<div *ngIf="modalService.isWinModalVisible" class="modal-background">
    <div class="modal-content">
        <ng-container *ngIf="isTie(); else tieContent">
            <h2>{{ gameBoard.currentPlayer }} ganó y se quedó con el sillón de Rivadavia</h2>
            <img class="turnImage" *ngIf="gameBoard.currentPlayer == gameBoard.player1Ficha" src="../../assets/massa.jpg">
            <img class="turnImage" *ngIf="gameBoard.currentPlayer == gameBoard.player2Ficha" src="../../assets/milei.jpg">
            <button (click)="restartGame()">Reiniciar juego</button>
        </ng-container>
        <ng-template #tieContent>
            <h2>A Balotaje! No hay ganadores.</h2>
            <button (click)="restartGame()">Reiniciar juego</button>
        </ng-template>
    </div>
</div>