/* Estilo de fondo de la página */
.login-container {
  background-color: #7e7d7d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* Estilo de la tarjeta */
.card {
  background-color: #9f9a8b;
  border-radius: 10px;
  width: 550px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #454545;
}

/* Estilo del encabezado de la tarjeta */
.card-header {
  background-color: #454545;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}

/* Estilo de los botones */
.btn-primary,
.btn-secondary {
  background-color: #454545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

/* Estilo de los botones al pasar el mouse */
.btn-primary:hover,
.btn-secondary:hover {
  background-color: #f8f8f8;
  color: #295454;
  padding: 4px 20px;
  border-left: 3px solid  orangered,;
  padding-left: 7px;
  transition: all 0.2s ease;
  font-weight: 500;
}

/* Estilo de los campos de entrada */
.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.form-control {
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 95%;
  margin: 4px;
}

/* Estilo del enlace de "¿Olvidaste tu contraseña? Recuperar" */
.card-footer a {
  color: #454545;
  text-decoration: none;
}

.card-footer a:hover {
  text-decoration: underline;
}
.hint{
  color: red;
}
/* CSS personalizado para el formulario */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #9f9a8b;
  border-radius: 10px;
  width: 450px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #454545;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-control {
  width: 100%;
}

/* Resto de tus estilos CSS */
