.comment-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-bottom: 44px;
}

.user-image {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    object-fit: cover;
}

.name-and-stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.comment {
    width: 580px;
    padding: 10px 15px;
    background-color: #373737;
    border-radius: 8px;
    border: 1px solid #000;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p{
    margin: 0;
}
