<nav class="navbar">
  <div class="left">
      <button class="menu-button" (click)="toggleMenu()">&#9776;</button>
      <app-menu [isOpen]="isOpen" [ngClass]="{ 'open': isOpen }"></app-menu>
      <i class="icon-group-7 home-link" style="font-size: 60px;"></i>
      <input type="text" class="search-input" placeholder="'GTA V'">
  </div>
  <div class="right">
      <span class="user-name">Bienvenido Carlitos</span>
      <img alt="Perfil" class="profile-icon">
  </div>
</nav>
<app-progress-bar [progress]="0"></app-progress-bar>
