* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
}

.left {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.menu-button:hover {
  transform: scale(1.2);
}


.home-link {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #7E7E7E;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 5px;
  margin-left: 24px;
}

.search-bar img{
  width: 35px;
  height: 35px;
}

.search-input {
  background-color: transparent;
  border: none;
  margin-left: 8px;
  height: auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  color: #fff;
}

.search-input:focus{
  outline: none;
}
.search-input::placeholder {
  color: #fff;
}

.right {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 20px;
}

.profile-icon {
  width: 24px;
  height: 24px;
}

a:visited {
  color: white;
}