/* Reset de estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
}

/* Estilos para los elementos de la izquierda */
.left {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
  transition: transform 0.3s ease; /* Transición suave en el efecto hover */
}

.menu-button:hover {
  transform: scale(1.2); /* Escala el botón al 120% del tamaño original al hacer hover */
}


.home-link{
  width: 24px;
  height: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.search-input {
  background-color: #7E7E7E;
  border: 1px solid #fff;
  padding: 5px;
  margin-left: 16px;
  height: auto;
}
.search-input::placeholder {
  color: #fff; /* Cambia este valor al color que desees para el placeholder */
}
/* Estilos para los elementos de la derecha */
.right {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 20px;
}

.profile-icon {
  width: 24px;
  height: 24px;
}

a:visited{
  color: white;
}