<div class="menu"  [ngClass]="{ 'open': isOpen }">
  <button (click)="close()"><img src="assets/svgs/cancel.svg"></button>
  <ul>
    <li><img src="assets/svgs/menu-burger/heart.svg">Tus Favoritos</li>
    <li><img src="assets/svgs/menu-burger/trends.svg">Tendencias</li>
    <li><img src="assets/svgs/menu-burger/logros.svg">Logros</li>
    <li><img src="assets/svgs/menu-burger/config.svg">Configuración</li>
    <li><img src="assets/svgs/menu-burger/cuenta.svg">Cuenta</li>
  </ul>
  <hr>
  <ul class="game-categories">
    <li><img src="assets/svgs/menu-burger/deportes.svg"><a href="/home/deportes">Deportes</a></li>
    <li><img src="assets/svgs/menu-burger/race.svg"><a href="/home/cerreras">Carreras</a></li>
    <li><img src="assets/svgs/menu-burger/accion.svg"><a href="/home/accion">Acción</a></li>
    <li><img src="assets/svgs/menu-burger/puzzle.svg"><a href="/home/puzzle">Puzzle</a></li>
    <li><img src="assets/svgs/menu-burger/aventura.svg">Aventura</li>
    <li><img src="assets/svgs/menu-burger/terror.svg">Terror</li>
    <li><img src="assets/svgs/menu-burger/arcade.svg">Arcade</li>
    <li><img src="assets/svgs/menu-burger/2players.svg">2 Jugadores</li>
    <li><img src="assets/svgs/menu-burger/cards.svg">Cartas</li>
    <a href="/login">Cerrar sesión</a>
  </ul>
</div>
