.menu {
  position: fixed;
  top: 0;
  left: -350px;
  width: 300px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 999;
}
button{
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.open {
  left: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  cursor: pointer;
  padding-top: 10px;
}

.game-categories li{
  font-size: 12px;
}
.game-categories{
  height: 420px;
  overflow-y: scroll;
}
a, a:visited{
  color:#ffffff;
  text-decoration: none;
}

