.menu {
  position: fixed;
  top: 0;
  left: -300px; /* Inicialmente oculto fuera de la pantalla */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  transition: left 0.3s ease; /* Transición suave para el desplazamiento */
}

.open {
  left: 0; /* Cuando está abierto, se desplaza hacia la izquierda */
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin: 10px 0;
  cursor: pointer;
}
