* {
  background-color: #7e7d7d;
  margin: 0;
  padding: 0;
  height: auto;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #007bff;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 150px auto;
  padding: 15vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.phrase-container{
  position: absolute;
  top: 50%;
  left: 37%;
}
