<app-header></app-header>
<div class="background-container">
  <div *ngIf="loading">
    <div class="spinner"></div>
    <div class="phrase-container" [style.transform]="textRotation">
      {{ phrases[currentPhraseIndex] }}
    </div>
  </div>
  <router-outlet *ngIf="!loading"></router-outlet>
  <app-weekly-suggests></app-weekly-suggests>
  <section class="sliders">
    <app-slider-deportes></app-slider-deportes>
    <app-slider-puzzle></app-slider-puzzle>
    <app-slider-accion></app-slider-accion>
    <app-slider-carreras></app-slider-carreras>
  </section>

</div>
