<div class="slider-container">
    <app-game-card imageUrl="/assets/images/games/gtav.jpg" name="GTA V" [price]="9.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/destiny.jpg" name="Destiny" [price]="9.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/halo2.jpg" name="Halo 2" [price]="0"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/uncharted2.jpg" name="Uncharted 2" [price]="1.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/red-dead.jpg" name="RDR II" [price]="13.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/call-of-duty.jpg" name="Call of Duty" [price]="4.99"></app-game-card>
    <app-game-card imageUrl="/assets/images/games/batman.jpg" name="Batman Lego" [price]="0"></app-game-card>
</div>
