<app-header></app-header>
<div class="ventana-juego-container">
    <div class="name-container">
        <section>
            <h1 class="game-title">4 en línea: Milei vs Massa</h1>
            <h2 class="breadcumbs"><a href="/home">Juegos</a> > Puzzle > 4 en línea: Milei vs Massa</h2>
        </section>
        <button class="share-btn" (click)="toggleModal()"><img *ngIf="!isModalVisible" src="assets/svgs/share.svg"><img *ngIf="isModalVisible" src="assets/svgs/cancel.svg"></button>
        <app-share-modal *ngIf="isModalVisible"></app-share-modal>
    </div>
    <div class="juego-e-intrucciones">
        <img class="simulacion-juego" src="assets/images/frame-juego.png">
        <section class="instrucciones-container">
            <h3>Objetivo:</h3>
            <p>Conectar 4 fichas de en forma de linea (vertical, horizontal o diagonal)</p>
            <h3>Intrucciones:</h3>
            <p>Cuando sea tu turno, hace click en la columna que queres tu ficha.</p>
            <img src="assets/images/gif-game.gif" class="game-gif">
        </section>
    </div>
</div>