.ventana-juego-container {
    background-color: #7E7D7D;
    padding-bottom: 50px;
}

.simulacion-juego {
    padding-left: 242px;
}

.game-title {
    font-size: 24px;
    color: white;
    padding: 25px 0px 0px 242px;
    margin: 0;
}

.breadcumbs {
    font-size: 16px;
    color: white;
    padding: 10px 0px 25px 242px;
    text-transform: uppercase;
}

a:visited {
    color: white;
}

.instrucciones-container {
    width: 304px;
    height: 444px;
    padding: 5px;
    flex-shrink: 0;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.juego-e-intrucciones {
    display: flex;
    justify-content: space-between;
}

.game-gif {
    width: 262px;
    height: 177px;
    flex-shrink: 0;
}


.name-container {
    display: flex;
    gap: 100px;
    align-items: center;
}

.share-btn {
    cursor: pointer;
    background-color: #373737;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.community-comments{
    margin-left: 91px;
    margin-top: 82px;
}

.comments-title {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-bottom: 42px;
}

.comment {
    position: relative;
    width: 580px;
    padding: 10px 15px;
    background-color: #373737;
    border-radius: 8px;
    border: 1px solid #000;
}

.post-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}
.post-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}

.user-image{
    width: 60px;
    height: 60px;
}

.comment input{
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 500px;
}

.comment input:focus{
    outline: none;
}