.ventana-juego-container {
    background-color: #7E7D7D;
}

.simulacion-juego {
    padding-left: 242px;
}

.game-title {
    font-size: 24px;
    color: white;
    padding: 25px 0px 0px 242px;
    margin: 0;
}

.breadcumbs {
    font-size: 16px;
    color: white;
    padding: 10px 0px 25px 242px;
    text-transform: uppercase;
}

a:visited{
    color: white;
}