<div class="login-container">
  <div class="card">
    <div class="card-header">
      Iniciar Sesión
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="email">Correo Electrónico</label>
          <input type="email" id="email" class="form-control" placeholder="Correo Electrónico" formControlName="email" required>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" id="password" class="form-control" placeholder="Contraseña" formControlName="password" required>
        </div>
        <button class="btn btn-primary" type="button" (click)="login()">Iniciar Sesión</button>
        <button class="btn btn-secondary" type="button" (click)="register()">Registrarse</button>
      </form>
    </div>
    <span *ngIf="valido == false" class="hint">Complete todos los campos</span>
    <span *ngIf="error == false" class="hint">No se encuentra registrado</span>
    <div class="card-footer">
      <a routerLink="/forgot-password">¿Olvidaste tu contraseña? Recuperar</a>
    </div>
  </div>
</div>
