<footer class="fat-footer">
    <div class="left-column">
        <div class="company-info">
            <h3>ROLE PLAY</h3>
            <p>El precio justo para una diversión ilimitada.</p>
        </div>
        <div class="links">
            <div class="account-links">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Mi Perfil</a></li>
                    <li><a href="#">Pagos</a></li>
                    <li><a href="#">Soporte</a></li>
                    <li><a href="#">Recuperar Cuenta</a></li>
                </ul>
            </div>
            <div class="about-us-links">
                <h4>Sobre Nosotros</h4>
                <ul>
                    <li><a href="#">Quiénes Somos</a></li>
                    <li><a href="#">Trabaja con Nosotros</a></li>
                    <li><a href="#">Contáctanos</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="social-media">
            <i class="icon-group-7 home-link" style="font-size: 60px;"></i>
            <div class="social-icons">
                <a href="#"><img src="assets/svgs/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="assets/svgs/x.svg" img alt="Twitter"></a>
                <a href="#"><img src="assets/svgs/instagram.svg" img alt="Instagram"></a>
                <a href="#"><img src="assets/svgs/linkedin.svg" img alt="LinkedIn"></a>
                <a href="#"><img src="assets/svgs/youtube.svg" img alt="YouTube"></a>
                <a href="#"><img src="assets/svgs/appstore.svg" img alt="App Store"></a>
            </div>
        </div>
    </div>
</footer>