/* Estilos para el footer */
.fat-footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

/* Estilos para la columna izquierda */
.left-column {
  width: 70%;
  display: flex;
  flex-direction: column;
  /* Para colocar los elementos uno encima del otro */
}

.company-info h3 {
  font-size: 24px;
}

.company-info p {
  font-size: 14px;
  color: #999;
  margin-top: 10px;
}

/* Estilos para los enlaces de cuenta y acerca de nosotros */
.account-links,
.about-us-links {
  flex: 1;
  /* Para que ocupen el espacio disponible verticalmente */
}

.account-links h4,
.about-us-links h4 {
  font-size: 18px;
}

.account-links ul,
.about-us-links ul {
  list-style: none;
  padding-left: 0;
}

.account-links ul li,
.about-us-links ul li {
  margin: 5px 0;
}

.account-links ul li a,
.about-us-links ul li a {
  color: #fff;
  text-decoration: none;
}

.links {
  width: 50%;
  display: flex;
}

.social-icons {
  position: absolute;
  bottom: 10px;
  right: 18px;
  display: flex;
  flex-direction: row;
}