.card {
    width: 300px;
    height: 364px;
    border-radius: 12px;
    background: var(--Negro-100, #000);
    cursor: pointer;
}

.price-badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 95px;
    height: 35px;
    background-color: #33BC3F;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    text-transform: uppercase;
    font-size: 14px;
}

.card-price {
    margin: 0;
}

.image-container {
    position: relative;
    display: inline-block;
}

.card-image {
    display: flex;
    width: 300px;
    height: 291px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px 12px 0px 0px;
}

.card-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .cart-img:hover {
    animation: pulse 1s infinite;
  }
.play-button {
  width: 50px;
  height: 50px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #ffffff;
}

.play-button:hover {
  background-color: #2980b9;
  border: solid 1px white;
}
